body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #d4e2f3, #d7dfe7);
    margin: 0;
    padding: 20px;
}

/* TITULOS */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #555;
}

/* FORMULARIO */
.form-container {
    width: 100%;
    max-width: 420px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-container input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
}

.form-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

/* BOTÓN PRINCIPAL */
.form-container button {
    padding: 12px;
    border: none;
    background: linear-gradient(45deg, #737679, #00c6ff);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,123,255,0.4);
}

/* MENSAJES */
.message {
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.success { color: green; }
.discount-success { color: orange; }
.edit-success { color: blue; }
.delete-success { color: red; }


/* GRID PRODUCTOS */
.product-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* TARJETAS */
.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    position: relative;
}

/* EFECTO HOVER */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* IMAGEN */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* CONTENIDO */
.card-content {
    padding: 15px;
}

.card h3 {
    margin: 0;
    color: #333;
}

/* PRECIO */
.price {
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* BOTONES */
.edit-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, rgb(212, 205, 189), #463a2a);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn:hover {
    transform: scale(1.05);
}

.delete-btn {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, rgb(218, 11, 11), #af3c3c);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    transform: scale(1.05);
}
 /* PRECIO ORIGINAL TACHADO */
.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

/* PRECIO FINAL */
.price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

/* ETIQUETA DESCUENTO */
.badge {
    display: inline-block;
    background: red;
    color: white;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 5px;
}
 
.message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s;
}

/* éxito normal */
.success {
    color: green;
}

/* con descuento */
.discount-success {
    color: #ff6600;
}
@media (max-width: 600px) {